#Mac
.DS_Store
Thumbs.db

#Java
*.class
*.jar

#Build
build/
output/

#Gradle
.gradle
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build

#Netbeans
nbactions.xml
nbbuld/
nbdist/
nbproject/*
!nbproject/project.properties
!nbporject/project.xml

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
/.externalToolBuilders
